<!DOCTYPE html>
<html>

<head>
    <title>Project 2 Game</title>
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="assets/js/app.js"></script>
  
    </title>
</head>

<body>
    <h1>Create Character</h1>

    <h1 id="userId" data-value="{{userId}}">{{userId}}</h1>



    <form action="/logout">
        <input type="submit" value="Logout" />
    </form>
</body>

</html>