<!DOCTYPE html>
<html>
 
<head>
    <title>Project 2 Game</title>
    </title>
</head>
 
<body>
 <h1>Create Character</h1>

<form action="/logout">
    <input type="submit" value="Logout" />
</form>
</body>
 
</html>