<!DOCTYPE html>
<html>
 
<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h1>Welcome {{session.data.authenticated.username}}</h1>
    <h2>Dashboard</h2>
    <h5>Hurray! you are logged in.</h5>
 
</body>
 
</html>