<head>
    <title>Passport with Sequelize</title>
</head>
 
<body>
    <h1>Welcome {{session.data.authenticated.username}}</h1>
    <h2>Dashboard</h2>

    <h2>Create your char:</h2>
    
<button>Char Name</button>
<button>HP</button>
<button>Dick size</button>
<button>Whatever</button>

