<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <script src="../public/assets/js/app.js"></script>
</head>
 
<body>
<h1>PROJECT TWO GAME WASSUP</h1>


<a href="/signup">Sign up</a>
<br>
<a href="/signin">Sign in</a>
</body>
 
</html>